html,
body {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-title {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid grey;
}

.list-title > * {
  margin: 0% 8px;
}

.undo {
  background-color: unset;
  padding: 0%;
  border: none;
  outline: none;
}

.template {
  max-width: 400px;
  width: auto;
  min-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.3);
  border-bottom: grey;
}

ul,
li {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: flex;
  width: 100%;
}

ul {
  flex-direction: column;
}

.list {
  width: 100%;
  height: auto;
  min-height: 40px;
  align-items: center;
  border-bottom: grey;
}

.list > li {
  width: 100%;
  min-height: 40px;
  height: auto;
  border-bottom: grey;
  border-bottom: 1px solid #ebebeb;
}

.list > li > * {
  border: none;
  outline: none;
}

.list > li.addItems {
  justify-content: space-between;
}

.list > li > div > * {
  display: none;
  padding: 0%;
}

.list > li.addItems > * {
  margin: 0% 8px;
}

.list > li > input {
  width: auto;
  height: auto;
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
  font-family: monospace;
}

.list > li > textarea {
  width: auto;
  min-width: 240px;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 100;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 31px;
  flex-grow: 1;
}

.list > li > textarea::-webkit-scrollbar {
  display: none;
}

.list > li > button {
  width: 10px;
  height: 10px;
  align-self: center;
  padding: 0%;
  background-color: unset;
}

.list-items > li > button {
  background-color: rgb(0, 0, 0, 0.15);
}

.list > li > div {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 10px;
  height: 100%;
  padding: 0% 1%;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #8c8c8c;
  height: min-content;
}

a:hover {
  text-decoration: underline;
  color: #262626;
}

a:active {
  text-decoration: underline;
  color: #262626;
}

.clear {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: grey;
  background-color: #f6f6f6;
}

.options {
  color: rgb(0, 0, 0, 0.4);
}

.options:hover {
  color: rgb(0, 0, 0, 0.8);
}

#add-todo {
  flex-grow: 1;
}
